<div>
	<h2>NCBI HBV Sequences by Clade</h2>
	<treecontrol class="tree-light"
	 tree-model="almtNameToDescendentTree['AL_MASTER']"
	 expanded-nodes="almtNameToExpandedNodes['AL_MASTER']"
	 options="almtNameToTreeOptions['AL_MASTER']">
	 <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
	</treecontrol>
	
	<h4>Notes</h4>
	<ul>
		<li>Expand/collapse nodes to explore the clade tree.</li>
		<li>Click on a clade name to view the sequences within that clade, and other details.</li>
	</ul>
	
	
</div>